{% extends 'base.html' %}
{% block content %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static', filename='images/Snip.jpg')}}" alt="..." /></div>
                <div class="col-lg-6">
                    <h1 class="font-weight-light">Please Shorten Your URL</h1>
                    <form method="post" action="{{url_for('shorten')}}">
                        <div class="form-floating mb-3">
                            <input class="form-control" name="url" id="url" type="text" value="{{ request.form['url' ]}}"
                            placeholder="Enter Loooooooong URL" />
                            <label for="url">Original URL</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" name="custom_id" value="{{ request.form['custom_id'] }}"
                                    id="custom_id" type="text" placeholder="Want to customize? (optional)" />
                                    <label for="custom_id">Custom Short ID</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">Shorten</button>
                    </form>
                    <!-- <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p> -->
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-success my-5 py-4 text-center">
                <div class="border-subtle"><p class="text-white m-0">Feel free to check out any of the following services. We are here to ensure your satisfaction and provide the utmost quality</p>
                </div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Website Development</h2>
                            <p class="card-text">We specialize in creating responsive and visually appealing websites that meet your business needs.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Software Development</h2>
                            <p class="card-text">We offer custom software development services to help you build scalable and efficient solutions.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Website Management</h2>
                            <p class="card-text">We provide comprehensive website management services, ensuring your website runs smoothly and stays up-to-date.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-success btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}